/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
    text-shadow: 0 0 1px #797979;
}

.container {
    min-width: 375px;
    margin: 2.5em;
    display: flex;
    flex-direction: column;
}

.img-main img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    border-top-left-radius: 6px;
}

main {
    max-width: 100%;
    display: block;
    padding: 1.5em;
    background-color: #fff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.title-content,
.discribe-content,
.buy-content {
    font-family: 'Lora', serif;
    color: hsl(228, 12%, 48%);
}

.trademark-content,
.price-content {
    font-family: 'Fraunces', serif;
}

.title-content {
    font-size: 0.8rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0.25em;
}

.trademark-content {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 0.25em;
}

.discribe-content {
    font-size: 1.2rem;
    margin-top: 0.5em;
}

.price-content {
    display: flex;
}

.discount-price-content {
    margin-top: 1rem;
    font-size: 2em;
    color: hsl(158, 36%, 37%);
}

.original-price-content {
    color: hsl(228, 12%, 48%);
    margin-top: 1.5rem;
    padding-left: 1.5rem;
}

.buy-btn {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(158, 36%, 37%);
    color: hsl(0, 0%, 100%);
    border: none;
    border-radius: 6px;
}

.buy-btn:hover,
.buy-btn:active {
    background-color: hsl(158, 38%, 20%);
    cursor: pointer;
}

.buy-logo {
    background-color: hsl(158, 36%, 37%);
    order: 1;
}

.buy-btn p {
    color: hsl(0, 0%, 100%);
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 1.2em;
    order: 2;
}

@media (min-width: 660px) {
    .container {
        flex-direction: unset;
    }

    .img-main img {
        width: 1440px;
        height: 100%;
        border-radius: unset;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        order: 1;
    }

    main {
        padding-left: 2.5em;
        border-radius: unset;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        order: 2;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 90%;
        margin: 5em auto;
    }

    .img-main img {
        width: 100%;
        height: 100%;
    }

    .title-content {
        font-size: 1.2rem;
        margin-top: 1em;
    }

    .trademark-content {
        font-weight: 700;
        font-size: 3.5rem;
        margin-top: 1em;
    }

    .discribe-content {
        font-size: 1.5rem;
        margin-top: 2em;
    }

    .discount-price-content {
        margin-top: 3rem;
        font-size: 4em;
        color: hsl(158, 36%, 37%);
    }

    .original-price-content {
        color: hsl(228, 12%, 48%);
        margin-top: 4.8rem;
        padding-left: 5rem;
    }

    .buy-btn {
        width: 80%;
        margin: 6em auto 0;
    }

}